### Import libraries

In [5]:
import re
import pandas as pd
from utilities import *

In [6]:
df1 = pd.read_csv('downloaded_datasets/ArTopicDS-Books.csv')
df3 = pd.read_csv('downloaded_datasets/Alpaca_arabic_instruct.csv')
df4 = pd.read_csv('downloaded_datasets/Mixed-Arabic-Datasets-Repo-Ara--Ali-C137--Hindawi-Books-dataset.csv')
df5 = pd.read_csv('downloaded_datasets/Mixed-Arabic-Datasets-Repo-Ara--J-Mourad--MNAD.v1.csv')
df6 = pd.read_csv('downloaded_datasets/Arabic-OpenHermes-2.5.csv')
df7 = pd.read_csv('downloaded_datasets/ArabicMMLU.csv')
df8 = pd.read_csv('downloaded_datasets/Mixed-Arabic-Datasets-Repo-Ara--mustapha--QuranExe.csv')
df9 = pd.read_csv('downloaded_datasets/Quran_speech_recognition_kaggle.csv')

In [25]:
print(df1.shape[0], df3.shape[0], df4.shape[0], df5.shape[0], df6.shape[0], df7.shape[0], df8.shape[0], df9.shape[0])

21200 52002 49821 418563 981618 14575 49888 71054

### Create empty dataframe

In [36]:
final_lst = []
final_df = pd.DataFrame(columns=['Text'])

### Add df1

In [37]:
df1

                                                    text
0      لنعُدْ إلى تحديد معنى الأقلية في هذا التمزّق ا...
1      ومع ذلك لا تبدأ المشكلة الحقيقية في نظرنا إلا ...
2      ومع ذلك يجب علينا أن نحذّر أيضًا من الميل إلى ...
3      على المستوى الأول الاقتصادي كانت النتيجة أن مع...
4      لا تكون الجماعة إلا بالعصبية، أي بشعور التضامن...
...                                                  ...
21195  بعبارة أخرى، حتى في أثناء هذه العملية الأولية ...
21196  إن الأشكال السياسية التي يمكن أن تظهر في ثقافا...
21197  لا يمكن تحقيق تحول في تقاليدنا الفكرية المتوار...
21198  لا شك في أن العيش معا في سلام على الأرض هو عمل...
21199  أصول الفقه: هو العلم الذي يبحث في الأدلة الإجم...

[21200 rows x 1 columns]

In [38]:
set_df1 = set()
for idx, row in df1.iterrows():
    set_df1.add(row[0])

In [39]:
final_lst.extend(list(set_df1))
len(final_lst)

21042

### Add df3

In [40]:
df3

,instruction,input,output
0,أعط ثلاث نصائح للبقاء بصحة جيدة.,NaN,1- تناول نظامًا غذائيًا متوازنًا وتأكد من تنا...
1,ما هي الألوان الثلاثة الأساسية؟,NaN,الألوان الثلاثة الأساسية هي الأحمر والأزرق وا...
2,صف بنية الذرة.,NaN,تتكون الذرة من نواة تحتوي على البروتونات والن...
3,كيف يمكننا تقليل تلوث الهواء؟,NaN,هناك عدد من الطرق للحد من تلوث الهواء ، مثل ال...
4,صف وقتًا كان عليك فيه اتخاذ قرار صعب.,NaN,كان علي أن أتخذ قرارًا صعبًا عندما كنت أعمل كم...
...,...,...,...
51997,قم بإنشاء مثال لما يجب أن ترغب فيه السيرة الذ...,NaN,جين تريمين \ n1234 Main Street، Anytown، CA 98...
51998,رتب العناصر الواردة أدناه بالترتيب لإكمال الجم...,كعكة لي الأكل,أنا آكل الكعكة.
51999,اكتب فقرة تمهيدية عن شخص مشهور.,ميشيل أوباما,ميشيل أوباما امرأة ملهمة ارتقت إلى مستوى التح...
52000,قم بإنشاء قائمة من خمسة أشياء يجب على المرء أ...,NaN,1. ابحث عن الفرص المحتملة وفكر مليًا في الخيار...
52001,قم بتحليل الوثيقة القانونية المقدمة واشرح الن...,"ما يلي مقتطف من عقد بين طرفين ، بعنوان ""الشرك...","تنص هذه الوثيقة القانونية على أن الشركة ""أ"" وا..."

In [41]:
set_df3 = set()
for idx, row in df3.iterrows():
    set_df3.add(row[0])
    set_df3.add(row[1])
    set_df3.add(row[2])

In [42]:
final_lst.extend(list(set_df3))
len(final_lst)

142223

### Add df4

In [43]:
df4

,BookName,AboutBook,ChapterName,ChapterText,AboutAuthor
0,بعد الوليمة,«كانت صفات «كازو» الشخصية مَرحة بشوشة في كل سَ...,ستسوغوان,أَفلَت مطعم ستسوغوان من أية أضرار ناتجة عن الح...,يوكيو ميشيما: أحدُ أشهر أدباء اليابان، رُشِّح ...
1,بعد الوليمة,«كانت صفات «كازو» الشخصية مَرحة بشوشة في كل سَ...,نادي كاغِن,أبلغ أحد الوزراء كازو أنه يريد إقامة اجتماع نا...,يوكيو ميشيما: أحدُ أشهر أدباء اليابان، رُشِّح ...
2,بعد الوليمة,«كانت صفات «كازو» الشخصية مَرحة بشوشة في كل سَ...,رأي السيدة تاماكي,لم يسبق لكازو أن واجهَت مثل هذا الموقف بعد أن ...,يوكيو ميشيما: أحدُ أشهر أدباء اليابان، رُشِّح ...
3,بعد الوليمة,«كانت صفات «كازو» الشخصية مَرحة بشوشة في كل سَ...,صحبة فارغَيْن,نُقل السفير تاماكي على الفور إلى مستشفى جامعي....,يوكيو ميشيما: أحدُ أشهر أدباء اليابان، رُشِّح ...
4,بعد الوليمة,«كانت صفات «كازو» الشخصية مَرحة بشوشة في كل سَ...,تفسير كازو للحب,افترقَت كازو عن نوغوتشي في تلك الظُّهرية وعادت...,يوكيو ميشيما: أحدُ أشهر أدباء اليابان، رُشِّح ...
...,...,...,...,...,...
49816,غاندي السيرة الذاتية: قصة تجاربي مع الحقيقة,يُعد غاندي من أكثر الشخصيات الملهِمة في العصر ...,وأخيرًا وجدتها!,وأخيرًا، وبعد بحث مضني في أرجاء جوجرات، وجدتْ ...,مهنداس كارامشاند غاندي: السياسي البارز والزعيم...
49817,غاندي السيرة الذاتية: قصة تجاربي مع الحقيقة,يُعد غاندي من أكثر الشخصيات الملهِمة في العصر ...,حوار توجيهي,أثارت حركة الخادي، التي كان يُطلق عليها حينها ...,مهنداس كارامشاند غاندي: السياسي البارز والزعيم...
49818,غاندي السيرة الذاتية: قصة تجاربي مع الحقيقة,يُعد غاندي من أكثر الشخصيات الملهِمة في العصر ...,المد المتزايد,لا أجد حاجة إلى تخصيص المزيد من الفصول لوصف تط...,مهنداس كارامشاند غاندي: السياسي البارز والزعيم...
49819,غاندي السيرة الذاتية: قصة تجاربي مع الحقيقة,يُعد غاندي من أكثر الشخصيات الملهِمة في العصر ...,في ناجبور,كان من المقرر التصديق على القرارات التي تبناها...,مهنداس كارامشاند غاندي: السياسي البارز والزعيم...
49820,غاندي السيرة الذاتية: قصة تجاربي مع الحقيقة,يُعد غاندي من أكثر الشخصيات الملهِمة في العصر ...,الوداع,والآن حان وقت ختام هذه الفصول.\nمنذ ذلك الحين،...,مهنداس كارامشاند غاندي: السياسي البارز والزعيم...

In [44]:
set_df4 = set()
for index, row in df4.iterrows():
    set_df4.add(row['BookName'])
    set_df4.add(row['AboutBook'])
    set_df4.add(row['ChapterName'])
    try:
        set_df4.add(row['ChapterText'])
    except:
        continue
    try:
        set_df4.add(row['AboutAuthor'])
    except:
        continue

In [45]:
final_lst.extend(list(set_df4))
len(final_lst)

232865

### Add df5

In [46]:
df5

,Title,Body
0,البرلمانيون يريدون توريث تقاعدهم لأبنائهم ، وه...,أخبارنا المغربية : سناء الوردي لازالت الحكومة ...
1,افتتاح معرض الشرق الأوسط للطيران الخاص (ميبا 2...,أخبارنا المغربية انطلقت اليوم الاثنين بدبي، فع...
2,فاعلون ومنعشون سياحيون بتنغير يستبشرون خيرا با...,الحسن فاتحي استبشر مجموعة من الفاعلون السياحيو...
3,اتفاقات ثنائية بـ150 مليون يورو بين المغرب وال...,الرباط ـــ وكالات وقع المغرب البلد الوحيد الذي...
4,أسعار المحروقات ستعرف انخفاضا طفيفا ابتداءا من...,أخبارنا المغربية كما سيعرف سعر البنزين انخفاضا...
...,...,...
418558,أستراليا ونيوزيلندا إلى نهائي كأس العالم للركبي,تأهل كل من المنتخب الأسترالي والنيوزيلندي إلى ...
418559,منتخب النيوزيلندا يتوج بكأس العالم للركبي,توج منتخب نيوزيلندا للمرة الثانية على التوالي ...
418560,الجديدة تحتضن تصفيات أولمبياد ريو,تحتضن مدينة الجديدة من 4 الى 9 نونبر الجاري من...
418561,منتخب كرة الطائرة الشاطئية يبحث عن التأهل إلى ...,ستكون مدينة الجديدة، على موعد مع منافسات إقصائ...
418562,الكانوي كاياك يهدي المغرب تذكرة حضور ثالثة للأ...,استطاعت البطلة المغربية هند الجميلي، التأهل إل...

In [47]:
set_df5 = set()
for _, row in df5.iterrows():
    set_df5.add(row[0])
    set_df5.add(row[1])

In [48]:
final_lst.extend(list(set_df5))
len(final_lst)

1068849

### Add df6

In [49]:
df6

                                                     user
0       كل يوم تسقط الشجرة 7 أوراق. كم عدد أوراق الشجر...
1       في الكيمياء التحليلية، ما هو المبدأ الكامن ورا...
2       حديقة مستطيلة يبلغ طولها 25 قدمًا وعرضها 15 قد...
3                      ما هو الغرض من الكولوسيوم في روما؟
4       يدعي رجل أنه يستطيع التنبؤ بنتيجة رمي النرد بد...
...                                                   ...
981613  هل يمكنك تعديل كود Java المقدم لاستبدال مصفوفة...
981614  كيف يمكن للشركات في اليابان تحسين جهودها بشكل ...
981615  صباح الخير! عندما تبدأ يومك، فكر في كيف يمكن ل...
981616  كيف يمكن استخدام C# لإجراء التنبؤ المالي وخوار...
981617  بينما تستمر في استكشاف الأعماق المعقدة للموضوع...

[981618 rows x 1 columns]

In [50]:
set_df6 = set()

for idx, row in df6.iterrows():
    set_df6.add(row[0])

In [51]:
final_lst.extend(list(set_df6))
len(final_lst)

1619673

### Add df7

In [52]:
df7

                                              final_text
0              كم عدد سور القرآن الكريم؟ 111 112 113 114
1      في أي الأيام خلق سيدنا آدم عليه السلام؟ يوم ال...
2      كم عدد السنوات التي نام فيها أهل الكهف؟ 300 سن...
3      اسم أول صحابي قرأ القرآن جهرة؟ عبد الله بن مسع...
4      من هي أخر زوجات النبي التي توفيت؟ السيدة زينب ...
...                                                  ...
14570  شهدت دولة قطر نقلة نوعية في حرية الرأي وذلك من...
14571  من المبادرات الوطنية القطرية للصحة: برنامج الط...
14572  تهدف التنمية المستدامة في العالم الإسلامي في ا...
14573  تهدف التنمية المستدامة في العالم الإسلامي في ا...
14574  " يعد الأول في مدينة الدوحة من حيث مساحة الاست...

[14575 rows x 1 columns]

In [53]:
set_df7 = set()
for _, row in df7.iterrows():
    try:
        set_df7.append(row[0])
    except:
        continue

In [54]:
final_lst.extend(list(set_df7))
len(final_lst)

1619673

### Add df8

In [55]:
df8

                                                    text
0      بسم الله الرحمن الرحيم سورة الفاتحة . يقال لها...
1      سورة الفاتحة سميت هذه السورة بالفاتحة؛ لأنه يف...
2      البسملة اسم لكلمة باسم الله، صيغ هذا الاسم على...
3      { بسم ٱلله الرَّحْمٰنِ الرَّحِيـمِ }الاسم: الل...
4      بسمالقول في تأويل { بسم} قال أبو جعفر : إن الل...
...                                                  ...
49883  وقوله : ( مِنَ الجنة والناس ) زيادة بيان للذى ...
49884  وقوله: ( الَّذِي يُوَسْوِسُ فِي صُدُورِ النَّا...
49885  قوله تعالى : من الجنة والناس أخبر أن الموسوس ق...
49886  وهذه السورة مشتملة على الاستعاذة برب الناس وما...
49887  ( من الجنة والناس ) يعني يدخل في الجني كما يدخ...

[49888 rows x 1 columns]

In [57]:
set_df8 = set()
for _, row in df8.iterrows():
    set_df8.add(row[0])

In [58]:
final_lst.extend(list(set_df8))
len(final_lst)

1666949

### Add df9

In [59]:
df9

                                                    text
0                            فَصَلِّ لِرَبِّكَ وَانْحَرْ
1      مَا أَفَاءَ اللَّهُ عَلَىٰ رَسُولِهِ مِنْ أَهْ...
2      أَفَأَنْتَ تُسْمِعُ الصُّمَّ أَوْ تَهْدِي الْع...
3                            بَلْ عَجِبْتَ وَيَسْخَرُونَ
4                                وَصَاحِبَتِهِ وَبَنِيهِ
...                                                  ...
71049  ذَٰلِكَ فَضْلُ اللَّهِ يُؤْتِيهِ مَنْ يَشَاءُ ...
71050         يَوْمَ يَتَذَكَّرُ الْإِنْسَانُ مَا سَعَىٰ
71051  يَوْمَ يَبْعَثُهُمُ اللَّهُ جَمِيعًا فَيَحْلِف...
71052  أَإِذَا مِتْنَا وَكُنَّا تُرَابًا وَعِظَامًا أ...
71053  بَشِيرًا وَنَذِيرًا فَأَعْرَضَ أَكْثَرُهُمْ فَ...

[71054 rows x 1 columns]

In [60]:
set_df9 = set()
for _, row in df8.iterrows():
    set_df9.add(row[0])

In [61]:
final_lst.extend(list(set_df9))
len(final_lst)

1714225

## Save the final dataset

In [62]:
final_df['Text'] = final_lst

In [63]:
final_df

                                                      Text
0        هناك تساؤلات أثيرت حول كيفية مقاربة الباحثين ا...
1        علاوة على هذه السلطات، أوجد الدستور، في إطار م...
2        ننتمي نحن، أنا (مواليد 1945) وهنريك برودر (موا...
3         - رسالة أبي عمر الباجي (القرن الخامس الهجري/ا...
4        أمّا ابن حزم فلم يدرجه ضمن قائمة المؤلفين الأن...
...                                                    ...
1714220  يا أيها الذين صدَّقوا الله ورسوله وعملوا بشرعه...
1714221  ( وما كان لنا عليكم من سلطان  ) من قوة وقدرة ف...
1714222  وقوله : ( فاتخذت مِن دُونِهِم حِجَاباً ) تأكيد...
1714223  وَاضْمُمْ يَدَكَ إِلَى جَنَاحِكَ تَخْرُجْ بَيْ...
1714224  والتزموا طاعة الله وطاعة رسوله في كل أحوالكم، ...

[1714225 rows x 1 columns]

In [64]:
os.mkdir('final_datasets')

In [66]:
final_df.to_csv('./final_datasets/our_final_dataset.csv', encoding='utf-8-sig', index=False)

### Count number of words contain tashkeel

In [25]:
df = pd.read_csv('final_datasets/our_final_dataset.csv')

In [26]:
df

                                                      Text
0        يخرج النيل الأزرق من بحيرةٍ كأخيه الرزين، ولكن...
1        إن عثرات الحياة الدنيوية الحاضرة تُبعد الناس ع...
2        اللهجة لفظ يقصد به اللسان، وامتد معناه إلى لغة...
3        ثم على مسافة ٥٧ كيلومترًا من مجريط تقع وادي ال...
4        كانت ماريا دي تلكس شخصية معروفة جدًّا في الولا...
...                                                    ...
1038086  وقوله : ( مِنَ الجنة والناس ) زيادة بيان للذى ...
1038087  وقوله: ( الَّذِي يُوَسْوِسُ فِي صُدُورِ النَّا...
1038088  قوله تعالى : من الجنة والناس أخبر أن الموسوس ق...
1038089  وهذه السورة مشتملة على الاستعاذة برب الناس وما...
1038090  ( من الجنة والناس ) يعني يدخل في الجني كما يدخ...

[1038091 rows x 1 columns]

In [27]:
count_words, count_tashkeel, count_tatweel = count_words_in_list(df['Text'].tolist())

print(count_words, count_tashkeel, count_tatweel)

215482218 12515678 298923