In [1]:
import json
import pandas as pd
from utilities import *

In [2]:
with open('copy_of_all_books.json', 'r', encoding='utf-8-sig') as file:
    read_file = file.read()

data = json.loads(read_file)

In [ ]:
df = pd.Dataframe(columns=['text'])

In [3]:
num_words = 0
num_tashkeel = 0
num_tatweel = 0

for book in data['books']:
    if 'content' in book:
        for page_key, page_content in book['content'].items():
            if 'text' in page_content:
                page_text = page_content['text']
                current_num_words, current_num_tashkeel, current_num_tatweel = count_words_in_list(page_text.split())
                num_words += current_num_words
                num_tashkeel += current_num_tashkeel
                num_tatweel += current_num_tatweel
                    
num_words, num_tashkeel, num_tatweel

(94967167, 10522161, 13193)

In [4]:
dict_rows = dict()

for book in data['books']:
    if 'content' in book:
        for page_key, page_content in book['content'].items():
            if 'text' in page_content:
                page_text = page_content['text']
                for word in page_text.split():
                    if check_tashkeel(word) == True:
                        if word in dict_rows:
                            current_tashkeel_count, current_tatweel_count = dict_rows[page_text]
                            dict_rows[page_text] = (current_tashkeel_count + 1, current_tatweel_count)
                        else:
                            dict_rows[page_text] = (1, 0)
                    if check_tatweel(word) == True:
                        if word in dict_rows:
                            current_tashkeel_count, current_tatweel_count = dict_rows[page_text]
                            dict_rows[page_text] = (current_tashkeel_count, current_tatweel_count + 1)
                        else:
                            dict_rows[page_text] = (0, 1)

In [8]:
len(dict_rows)

42435

In [11]:
texts_lst = list(dict_rows.keys())
count_words, count_tashkeel, count_tatweel = count_words_in_list(texts_lst)

count_words, count_tashkeel, count_tatweel

(94289216, 10518662, 13193)

In [12]:
print(f'Total number of words do not contain tatweel or tashkeel: {count_words - (count_tashkeel + count_tatweel)}')

Total number of words do not contain tatweel or tashkeel: 83757361

In [5]:
text_lst = []
num_tashkeel_lst = []
num_tatweel_lst = []

for item in dict_rows.items():
    text_lst.append(item[0])
    num_tashkeel_lst.append(item[1][0])
    num_tatweel_lst.append(item[1][1])
    
len(text_lst), len(num_tashkeel_lst), len(num_tatweel_lst)

(42435, 42435, 42435)

In [6]:
df = pd.DataFrame(columns=['text', 'num_tashkeel', 'num_tatweel'])
df['text'] = text_lst
df['num_tashkeel'] = num_tashkeel_lst
df['num_tatweel'] = num_tatweel_lst

In [7]:
df

,text,num_tashkeel,num_tatweel
0,\n\n\nمقدمة‏\n١ - انتقام الأرشيف‏\n٢ - من الذي...,1,0
1,\n\nكم عمر الغضب؟فؤاد زكريا الناشر مؤسسة هنداو...,1,0
2,\n\nمقدمة\n\n\t\t\tقبل أن يظهر كتاب الأستاذ مح...,1,0
3,\n\nالفصل الأول\nانتقام الأرشيف\n\n\t\t\tلن أك...,1,0
4,\n\nالفصل الثاني\nمن الذي يشتم مصر؟\n\n\t\t\tأ...,1,0
...,...,...,...
42430,\n\nحدث في الليل\n\n\t\t\tعندما انتصف الليل خُ...,1,0
42431,\n\nالرجل الغريب\n\n\t\t\tاستيقظ «أحمد» على صو...,1,0
42432,\n\nبين نارين\n\n\t\t\tأعاد «أحمد» فحص الجثة م...,1,0
42433,\n\nمفاجأة في القطار\n\n\t\t\tبعد راحةٍ قصيرةٍ...,1,0
42434,\n\nأحداث في الظلام\n\n\t\t\tدخل الدكتور «حسين...,1,0

In [9]:
new_text_lst, new_num_tashkeel_lst, new_num_tatweel_lst = split_data(df)

In [10]:
last_df = pd.DataFrame(columns=['text', 'num_tashkeel', 'num_tatweel'])
last_df['text'] = new_text_lst
last_df['num_tashkeel'] = new_num_tashkeel_lst
last_df['num_tatweel'] = new_num_tatweel_lst

In [11]:
last_df

,text,num_tashkeel,num_tatweel
0,مقدمة‏ ١,0,0
1,- انتقام الأرشيف‏,0,0
2,٢ - من الذي,0,0
3,يشتم مصر؟‏ ٣ - لعبة,0,0
4,الأحياء والأموات‏ ٤ - ظروف العائلة,0,0
...,...,...,...
15743132,من الورود … عليها كلماتٌ رقيقةٌ,2,0
15743133,من رقم «صفر»، ثم هذه الجملة: تسافر,0,0
15743134,فورًا إلى «نابولي» … إنَّ «مادونا» في انتظارك.,2,0
15743135,وابتسم «أحمد» وخرج إلى الهواء الطلق والشمس الت...,0,0
15743136,بعد العاصفة.,0,0

In [12]:
count_words_in_list(new_text_lst)

(94288577, 10518499, 13190)

In [13]:
all_harakat_df = last_df[(last_df['num_tashkeel'] > 0) | (last_df['num_tatweel'] > 0)]
no_harakat_df = last_df[(last_df['num_tashkeel'] == 0) & (last_df['num_tatweel'] == 0)]

In [14]:
print(all_harakat_df.shape, no_harakat_df.shape)

(6155772, 3) (9587365, 3)

In [15]:
print(count_words_in_list(list(all_harakat_df.text)), count_words_in_list(list(no_harakat_df.text)))

(41430192, 10518499, 13190) (52858385, 0, 0)

In [16]:
all_harakat_df.to_csv('final_datasets/our_dataset_cleaned/harakat_dataset.csv', encoding='utf-8-sig', index=False)
no_harakat_df.to_csv('final_datasets/our_dataset_cleaned/no_harakat_dataset.csv', encoding='utf-8-sig', index=False)

In [24]:
all_harakat_df.num_tashkeel.value_counts()

1     3715210
2     1464545
3      541145
4      209241
5       90949
6       49055
7       32288
8       23209
9       16683
10      10289
0        3158
Name: num_tashkeel, dtype: int64

In [25]:
all_harakat_df.num_tatweel.value_counts()

0    6143428
1      11611
2        663
3         44
4         16
5          5
6          3
7          2
Name: num_tatweel, dtype: int64

In [26]:
lengths = all_harakat_df.text.apply(lambda x: len(x.split()))
lengths.value_counts()

10    944508
9     896063
8     842358
7     781701
6     713919
5     639391
4     551740
3     450901
2     334451
1        740
Name: text, dtype: int64